html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url("../fonts/NotoSansJP-Regular.eot") format("truetype");
}

@font-face {
    font-family: 'MADEOkineSansPERSONALUSE';
    src: url("../fonts/MADEOkineSansPERSONALUSE-Regular.otf") format("truetype");
}

@font-face {
    font-family: 'YuGothic';
    src: url("../fonts/yugothib.ttf") format("truetype");
}

body {
    overflow-x: hidden;
    color: #000;
    font-size: 14px;
    font-family: 'NotoSansJP', sans-serif;
}

.wrapper {
    overflow: hidden;
}

a {
    /* color: #000; */
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

a:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    position: relative;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px;
}

.header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-nav-list li {
    font-size: 16px;
    font-family: 'MADEOkineSansPERSONALUSE', sans-serif;
    margin-left: 40px;
}

.header-nav-list li a {
    color: #3DA3CA;
}

@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .sm {
        display: block;
    }
    .container {
        max-width: 100%;
        width: 100%;
    }
    .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: #fff;
        position: relative;
    }
    .header-logo {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
    .header-logo img {
        height: 100px;
        width: auto;
    }
    .header-nav {
        width: 100%;
        background: none;
        min-height: auto;
        position: absolute;
        left: 0;
        top: 0;
    }
    .header-nav .drawer-hamburger {
        text-align: center;
        font-weight: bold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #3DA3CA;
        border-radius: 40px;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 5%;
        top: 25px;
        z-index: 222;
    }
    .header-nav .drawer-hamburger span {
        display: inherit;
        height: 2px;
        background: #fff;
        margin: 6px 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        width: 25px;
        border-radius: 20px;
    }
    .header-nav .drawer-hamburger.active span:first-child {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    .header-nav .drawer-hamburger.active span:last-child {
        -webkit-transform: rotate(45deg) translate(-5px, -6px);
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .header-nav .drawer-hamburger.active span:nth-child(2n) {
        opacity: 0;
    }
    .header-nav .sm-gnav {
        position: absolute;
        display: block;
        width: 100%;
        height: 1000px;
        top: 0;
        left: -100%;
        z-index: 22;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        background-color: #3DA3CA;
    }
    .header-nav .sm-gnav.is-open {
        left: 0;
        width: 100%;
        color: white;
    }
    .header-nav-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 100%;
        height: 372px;
        top: 236px;
        text-align: center;
        color: #FFFFFF;
    }
    .header-nav-list li {
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        margin-left: 0px;
    }
    .header-nav-list li a {
        color: white;
        font-size: 20px;
    }
    /* <div class="banner-title">
                    <p class="banner-p">「金融」×「人材」で変革をもたらす</p>
                    <h3 class="common-title-finance">FINANCE</h3>
                    <hr style="transform: rotate(45deg);" class="banner-hr">
                    <hr style="transform: rotate(135deg); transform: rotate(135deg);
                    top: 479px;" class="banner-hr">
                    <h3 class="common-title-finance-des">Human- Resources</h3>
                </div> */
}

.footer {
    background-color: #000000;
    position: relative;
    height: 536px;
    color: white;
    margin-top: 140px;
}

.footer-logo a img {
    /* width: 15%; */
    border-radius: 0px;
    position: absolute;
    left: 10%;
    right: 72.57%;
    top: 24.44%;
    bottom: 51.12%;
}

.footer-copyright {
    position: relative;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.5);
    top: 330px;
    width: 100%;
    float: right;
}

.footer-social {
    /* height: 24px;
    width: 24px;
    position: absolute;
    top: 240px;
    left: 84.38%; */
    /* top: 101px; */
    position: relative;
    /* top: 60%; */
    bottom: -220px;
    float: right;
}

.footer-social li {
    display: table-cell;
    padding: 0px 0px 0px 20px;
}

.scroll-top {
    height: 16%;
    border-radius: 0px;
    position: relative;
    top: 0%;
    bottom: 82.28%;
}

@media only screen and (max-width: 600px) {
    .scroll-top {
        position: absolute;
        display: block;
        right: 0px;
        height: 96px;
    }
    .footer-nav li a {
        padding: 0px 40px 0px 0px;
        line-height: 40px;
    }
    .footer-nav {
        width: 100%;
        padding: 0px 50px 0px 50px;
        position: relative;
        text-align: left;
        bottom: -120px;
    }
    .footer-logo a img {
        height: 131px;
        width: 195px;
    }
    .footer-logo {
        position: relative;
        top: 276px;
        right: -50px;
    }
    .footer-social {
        right: 50px;
        top: 150px;
        position: relative;
    }
    .footer {
        height: 726px;
    }
    .footer-address {
        width: 100%;
        position: absolute;
        top: 500px;
    }
    .footer-copyright {
        width: 100%;
        position: absolute;
        top: 600px;
        left: -15%;
    }
    .footer-privacy {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .column {
        display: table-cell;
    }
    .footer-nav li a {
        /* padding: 0px 0px 0px 50px; */
        line-height: 19px;
    }
    .footer-logo a img {
        width: 15%;
    }
    .footer-nav {
        bottom: -190px;
    }
    .footer-nav li {
        padding-left: 40px;
    }
}

.row {
    display: table;
    width: 100%;
    /*Optional*/
    table-layout: fixed;
    /* border-spacing: 10px; */
    /*Optional*/
}

.footer-address {
    text-align: left;
    position: absolute;
    left: 10%;
    right: 65%;
    top: 67%;
    bottom: 24.81%;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.footer-nav li a {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 19px; */
    letter-spacing: -0.03em;
    color: #FFFFFF;
    /* padding: 0px 0px 0px 50px; */
}

.footer-nav li {
    display: inline;
    position: relative;
}

.footer-nav {
    position: relative;
}

.footer-privacy li a {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    width: fit-content;
    color: #FFFFFF;
    padding: 0px 0px 0px 50px;
}

.footer-privacy li {
    display: inline;
    position: relative;
}

.footer-privacy {
    position: relative;
    bottom: -290px;
    width: 100%;
    float: left;
}