/* CSS Document */


/*====================================================================================
1.  SERVICE PAGE START
====================================================================================*/

.vertical_div {
    width: 100%;
    text-align: center;
}

.header_service {
    position: relative;
    height: 440px;
    left: 0px;
}

.header_service img {
    max-width: 100%;
    max-height: 100%;
}

.service-img {
    position: relative;
}

.service_title {
    position: absolute;
    left: 104px;
    font-family: 'MADEOkineSansPERSONALUSE', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 58px;
    /* identical to box height, or 97% */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3DA3CA;
    top: 150px;
}

.service_title_sub {
    position: absolute;
    border-top-left-radius: 30px;
    left: 104px;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height, or 185% */
    letter-spacing: 0.03em;
    /* primary/main */
    color: #3DA3CA;
    top: 200px;
}

.service_header_nav {
    position: relative;
    top: 50px;
    display: flex;
    margin-left: 104px;
}

.home_navigation_text {
    /* HOME */
    width: 44px;
    height: 37px;
    font-family: 'MADEOkineSansPERSONALUSE';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    /* identical to box height, or 247% */
    letter-spacing: 0.03em;
    /* text/primary */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.symbol_navigation {
    /* / */
    margin-left: 12px;
    margin-right: 12px;
    width: 6px;
    height: 37px;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    /* identical to box height, or 247% */
    letter-spacing: 0.03em;
    /* text/primary */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.service_navigation_text {
    /* SERVICE */
    width: 59px;
    height: 37px;
    font-family: 'MADEOkineSansPERSONALUSE';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    /* identical to box height, or 247% */
    letter-spacing: 0.03em;
    /* text/primary */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame_connect {
    /* Frame 57 */
    display: flex;
    margin-top: 30px;
    position: relative;
    height: 326px;
    left: 0px;
}

.frame_connect_image {
    opacity: 0.3;
    width: 100%;
}

.connect_text {
    /* connect your future, create our life */
    position: absolute;
    left: 104px;
    font-family: 'Barlow Condensed';
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* text/primary */
    color: #000000;
}

.connect_text_sub {
    position: absolute;
    width: 37%;
    height: 111px;
    left: 50%;
    margin-top: 140px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    letter-spacing: 0.03em;
    color: #000000;
}

.employment_title {
    position: relative;
    display: flex;
    height: 46px;
    width: 100%;
}

.employment_title_2 {
    margin-top: 100px;
    position: relative;
    display: flex;
    height: 46px;
    width: 100%;
}

.hr-title {
    margin-top: 15px;
    background-color: black;
    border: 0 none;
    color: #eee;
    height: 2px;
    width: 30px;
    margin-left: 104px;
}

.employment_title_text {
    position: absolute;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    left: 160px;
    letter-spacing: 0.03em;
    color: #000000;
}

.employment_container_content {
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.employment_container_item {
    /* width: 414px; */
    /* height: 625px; */
    margin-left: 20px;
    display: inline-block;
    margin-right: 20px;
    width: 30%;
}

.employment_container_item img {
    width: 100%;
    /* height: 50%; */
    position: relative;
    /*to preserve the aspect ratio of the image*/
}

.employment_container_item h4 {
    /* 保険業界 */
    margin-top: 26px;
    text-align: left;
    position: relative;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: 0.03em;
    /* text/primary */
    color: #000000;
}

.employment_container_item h5 {
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 32px;
    position: relative;
    text-align: left;
    margin-top: 26px;
    /* or 200% */
    letter-spacing: 0.03em;
    /* text/secondary */
    color: #757575;
    opacity: 0.9;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.readmore_div {
    display: flex;
    position: relative;
}

.readmore_div img {
    position: absolute;
    width: 29px;
    height: 25px;
    left: 143px;
    margin-top: 30px;
}

.readmore_title {
    position: absolute;
    /* READ MORE */
    margin-top: 26px;
    height: 34px;
    font-family: 'MADEOkineSansPERSONALUSE';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 0.02em;
    /* primary/main */
    color: #3DA3CA;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_us_div {
    width: 320px;
    display: flex;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    position: relative;
    /* primary/main */
    background: #3DA3CA;
}

.contact_us_div p {
    margin-top: 25px;
    margin-left: 113px;
    /* お問い合わせ */
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    /* identical to box height */
    letter-spacing: 0.03em;
    /* text/white */
    color: #FFFFFF;
}

.contact_us_div img {
    margin-top: 20px;
    margin-left: 60px;
    width: 28px;
    height: 24px;
}

.service-item-content {
    height: auto
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*==
1.  SERVICE PAGE END
====================================================================================*/


/*====================================================================================
02.COMPANY PAGE
====================================================================================*/

.company-info-text-description {
    margin-top: 40px;
    margin-left: 210px;
    margin-right: 210px;
    position: relative;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    letter-spacing: 0.03em;
    /* text/primary */
    color: #000000;
    text-align: start;
}

.company-info-signature {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: 36px;
    width: 100%;
}

.company-info-signature-title {
    float: left;
    width: 90%;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */
    letter-spacing: 0.03em;
    /* text/primary */
    color: #000000;
    text-align: end;
}

.company-info-signature-name {
    float: left;
    width: 15%;
    margin-right: 220px;
    margin-left: 23px;
    font-family: TamanegiKaisho;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height, or 100% */
    letter-spacing: 0.03em;
    /* text/primary */
    color: #000000;
    text-align: end;
}


/* Timeline Container */

.timeline {
    margin-top: 48px;
    position: relative;
    margin-left: 210px;
}

.div-title-timeline {
    width: 15%;
}

.div-sub-title-timeline {
    width: 85%;
    align-items: center;
    text-align: left;
    display: flex;
}


/* Outer Layer with the timeline border */

.outer {
    border-left: 4px solid #C4C4C448;
}


/* Card container */

.card {
    position: relative;
    margin: 24px 0 20px 20px;
    padding: 10px;
    height: 50px;
}


/* Information about the timeline */

.info {
    position: relative;
    display: flex;
}


/* Title of the card */

.title {
    width: 100%;
    position: relative;
    padding-left: 27px;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.03em;
    /* primary/main */
    color: #3DA3CA;
    text-align: right;
    text-align: left;
}

.sub-title {
    position: absolute;
}


/* Timeline dot  */

.title::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #3DA3CA;
    border-radius: 999px;
    left: -36px;
    top: 6px;
    border: 2px solid #3DA3CA;
}

.sub-title p {
    height: 23px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.company-profile-table {
    position: relative;
    margin-left: 210px;
}

.company-profile-table table {
    width: 100%;
    position: relative;
    font-family: 'NotoSansJP', sans-serif;
    border-collapse: collapse;
}

.company-profile-table td,
th {
    padding: 32px;
    text-align: left;
    border-bottom: 0.5pt solid #C4C4C4;
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.company-map-title {
    width: 100%;
    text-align: left;
    margin-left: 210px;
    margin-top: 40px;
}

.company-iso {
    display: flex;
    flex-direction: row;
    background-color: #3DA3CA;
    margin-top: 90px;
    position: relative;
    height: 555px;
}

.company-iso-bg-vector {
    position: absolute;
    top: 124px;
    left: 0;
    width: 100%;
    height: 326px;
}

.company-iso-text-info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    height: 100%;
}

.company-iso-text-info h2 {
    margin-top: 80px;
    margin-left: 220px;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.company-iso-text-info p {
    margin-top: 50px;
    margin-left: 220px;
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.company-iso-image {
    top: 80px;
    position: relative;
    width: 40%;
    height: 100%;
    opacity: 1;
}

.partner-info-title {
    position: relative;
    margin-top: 80px;
    font-family: 'HiraginoKakuGothicPro';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #3DA3CA;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.partner-info-container {
    margin-top: 48px;
    margin-left: 210px;
    margin-right: 210px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 384px;
}

.partner-info-container-table {
    position: relative;
    width: 60%;
    display: inline;
    margin-right: 40px;
}

.partner-info-container-logo {
    width: 40%;
    position: relative;
    display: flex;
    border: 1px solid #C4C4C4;
    ;
    justify-content: center;
    align-items: center;
}

.partner-info-container-logo img {
    width: 240px;
    height: 71px;
}

.partner-info-container-table p {
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: start;
    font-family: 'HiraginoKakuGothicPro';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #656565;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.partner-info-container-table hr {
    color: #C4C4C4;
    opacity: 0.5;
}


/*==
2.  COMPANY PAGE END
====================================================================================*/


/*====================================================================================
03.CONTACT PAGE BEGIN
====================================================================================*/

.contact-tab-border {
    width: 48px;
    height: 48px;
    background: #3DA3CA;
    border-radius: 40px;
}

.contact-tab {
    width: 48px;
    height: 48px;
    background: #3DA3CA;
    border-radius: 40px;
}

.contact-tab {
    width: 48px;
    height: 48px;
    background: #3DA3CA;
    border-radius: 40px;
}

.contact-tab span {
    height: 47px;
    display: flex;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.hr-contact {
    width: 56px;
    height: 3px;
    background: #3DA3CA;
}

.hr-contact-tab {
    display: flex;
    align-items: center;
}


/*====================================================================================
03.CONTACT PAGE END
====================================================================================*/


/*====================================================================================
04.RECRUIT PAGE START
====================================================================================*/

.recruit-position-infor {
    display: flex;
    position: relative;
    flex-direction: row;
}

.recruit-position-item {
    margin-left: 40px;
    margin-right: 40px;
    padding: 35px;
    width: 50%;
    height: 166px;
    position: relative;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
}

.recruit-position-item img {
    width: 38px;
    display: flex;
    position: relative;
}

.recruit-position-item-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.recruit-position-item-text h2 {
    text-align: start;
    margin-top: 13px;
    font-family: 'BarlowCondensed';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #000000;
}

.recruit-position-item-text p {
    text-align: start;
    margin-top: 20px;
    font-family: 'BarlowCondensed';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.recruit-award-background {
    margin-top: 80px;
    padding-bottom: 200px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3DA3CA;
}

.recruit-award-background h3 {
    font-family: 'MADEOkineSansPERSONALUSE';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 58px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3DA3CA;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 100%;
    text-align: center;
}

.recruit-award-background h4 {
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: start;
    margin-left: 210px;
}

.recruit-award-background h5 {
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: start;
}

.recruit-award-background p {
    font-family: 'NotoSansJP';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: #757575;
    text-align: start;
}

.recruit-award-left {
    position: relative;
    margin-top: 120px;
    margin-right: 104px;
    background-color: #F7F7F7;
    border-radius: 0 13px 13px 0;
    display: flex;
    flex-direction: column;
    min-height: 736px;
}

.recruit-award-right {
    position: relative;
    margin-top: 120px;
    margin-left: 104px;
    background-color: #F7F7F7;
    border-radius: 13px 0 0 13px;
    display: flex;
    flex-direction: column;
    min-height: 736px;
}

.recruit-award-content {
    position: relative;
    display: flex;
    flex-direction: row;
}

.recruit-award-content img {
    position: relative;
    margin-top: 0;
}

.recruit-award-content-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.recruit-content-start {
    margin-left: 210px;
}

.recruit-content-space-left {
    margin: 43px;
}

.recruit-content-table {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.recruit-content-table-data {
    display: flex;
    margin-right: 96px;
    flex-direction: row;
    position: relative;
}


/*====================================================================================
04.RECRUIT PAGE END
====================================================================================*/