    .banner {
        background: url("../images/home/banner_bg.jpg") no-repeat;
        background-size: contain;
        /* text-align: center; */
    }
    
    .about {
        background: #F9F9F9;
    }
    
    .about-wrap {
        padding: 100px 50px 100px 50px;
    }
    
    .about-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    .about-left {
        width: 45%;
    }
    
    .about-sub-tit {
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0.03em;
        color: #171615;
        font-weight: bold;
    }
    
    .about-text01 {
        font-family: 'YuGothic';
        font-size: 20px;
        line-height: 34px;
    }
    
    .about-right {
        width: 45%;
    }
    
    .about-text02 {
        font-size: 15px;
        line-height: 30px;
        color: #757575;
        font-family: 'YuGothic';
    }
    
    .about-text03 {
        font-size: 13px;
        padding-top: 45px;
    }
    
    .about-text03 strong {
        font-size: 22px;
        font-weight: bold;
    }
    
    .common-title {
        position: relative;
        text-align: center;
        font-family: 'MADEOkineSansPERSONALUSE', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 72px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #3DA3CA;
        margin-top: 40px;
    }
    
    .common-title-way {
        text-align: left;
        font-size: 22px;
    }
    
    .viewmore-way {
        position: absolute;
    }
    
    .viewmore-ca {
        position: absolute;
        right: 67%;
        top: 183px;
    }
    
    .viewmore {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 20px;
        line-height: 72px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #3DA3CA;
        font-weight: bold;
        float: right;
        padding-top: 20px;
    }
    
    .viewmore .arrow {
        background: #3DA3CA;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
        position: relative;
    }
    
    .viewmore .arrow:after {
        position: absolute;
        content: "";
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        right: 50%;
        margin-right: -4px;
        top: 50%;
        margin-top: -8px;
    }
    
    .service-img {
        position: relative;
        width: 100%;
        /* top: 1651px; */
        background: linear-gradient(0deg, rgba(101, 102, 108, 0.65), rgba(101, 102, 108, 0.65)), url(.jpg);
        border-radius: 24px;
        margin-top: 25px;
    }
    
    .service-menu {
        max-width: 50%;
        float: left;
    }
    
    .service-info-tit {
        position: relative;
        font-size: 24px;
        font-family: 'MADE Okine Sans PERSONAL USE';
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #3DA3CA;
    }
    
    .service-info .num {
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #3DA3CA;
    }
    
    .service-info-subtit {
        position: relative;
        width: 535px;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 54px;
        letter-spacing: 0.03em;
        color: #000000;
    }
    
    .service-info p {
        position: relative;
        width: 100%;
        height: 128px;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 350;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #757575;
        padding-top: 50px;
    }
    
    .career-wrap {
        /* position: relative;
    /* background: #838383; */
        /* opacity: 0.1; */
        /* border-radius: 24px; */
        margin-top: 50px;
        height: 349px;
        background: #DCDCDC;
    }
    
    .blue-tt {
        position: relative;
        font-family: 'MADE Okine Sans PERSONAL USE';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 72px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #3DA3CA;
        margin-top: 10%;
    }
    
    .black-tt {
        position: relative;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 54px;
        letter-spacing: 0.03em;
        color: #000000;
        text-align: center;
    }
    
    .career-tit,
    .career-img {
        text-align: center;
        width: 50%;
        height: 80%;
    }
    
    .career-img img {
        margin-top: 5%
    }
    
    .btn-wiewmore {
        width: 100%;
        margin-top: 30px;
    }
    
    .body-space {
        border-spacing: 44px;
    }
    
    .about-logo {
        margin-top: 20px;
        text-align: center;
        border-color: black;
        border: groove;
        border-width: 1px;
    }
    
    .news-view {
        position: absolute;
        width: 100%;
        left: -10%;
        top: -25%;
    }
    
    .hr-news {
        width: 80%;
        height: 1px;
        background: #C4C4C4;
    }
    
    .hr-news-item {
        width: 100%;
        height: 1px;
        color: #C4C4C4;
    }
    
    .date {
        position: relative;
        font-family: 'Reforma Grotesk Demi';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: #827E7C;
    }
    
    .text {
        position: relative;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        /* color: #000000; */
    }
    
    .news-content {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 30px 0px 50px 0px;
    }
    
    .news-content-item {
        max-width: 270px;
        padding: 30px 20px 10px 20px;
    }
    
    .service-menu-item-tt {
        position: absolute;
        width: 100%;
        left: 220px;
        top: 44%;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 45px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    
    .service-menu-item hr {
        position: absolute;
        width: 24%;
        left: 220px;
        top: 46%;
    }
    
    .service-menu-item-info .item {
        /* position: absolute;
        width: 312px;
        height: 77px;
        left: 220px;
        top: 41%; */
        /* background: rgba(255, 255, 255, 0.95); */
        position: relative;
        width: 310px;
        height: 78px;
        line-height: 23px;
        left: -154%;
        top: 339px;
    }
    /* .service-menu-item-info:hover,
    .service-menu-item-info div:hover,
    .item .tablink:hover {
        color: #000!important;
        background-color: white !important;
    }
     */
    
    .service-tt-1 {
        position: relative;
        display: flex;
        height: auto;
        left: 156px;
        z-index: 1;
        top: 10px;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: right;
        letter-spacing: 0.03em;
    }
    
    .service-des-1 {
        position: absolute;
        width: 108px;
        height: 19px;
        left: -12px;
        top: 85%;
        z-index: 1;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        letter-spacing: 0.02em;
        /* color: #757575; */
    }
    
    .service-num-1 {
        z-index: 1;
        position: absolute;
        width: 14px;
        height: 22px;
        left: 280px;
        top: 30%;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        /* color: #3DA3CA; */
    }
    
    .service-tt-2 {
        position: relative;
        display: flex;
        height: auto;
        left: 130px;
        z-index: 1;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: right;
        letter-spacing: 0.03em;
        top: -8px;
        /* color: #FFFFFF; */
    }
    
    .service-des-2 {
        position: absolute;
        width: 108px;
        height: 19px;
        left: 14px;
        top: 83%;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: right;
        letter-spacing: 0.02em;
        /* top: -8px; */
        z-index: 1;
    }
    
    .service-num-2 {
        z-index: 1;
        position: relative;
        width: 14px;
        height: 22px;
        left: 280px;
        top: 40%;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        /* color: white; */
    }
    
    .service-menu-item-tt-2 {
        position: absolute;
        width: 100%;
        left: 220px;
        top: 62%;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 45px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    
    .service-menu-item-2 hr {
        position: absolute;
        width: 24%;
        left: 220px;
        top: 48%;
    }
    
    .service-tt-3 {
        position: relative;
        width: 175px;
        height: auto;
        left: 79px;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: right;
        letter-spacing: 0.03em;
        top: -10px
        /* color: #FFFFFF; */
    }
    
    .service-des-3 {
        position: absolute;
        width: 108px;
        height: 19px;
        left: 65px;
        top: 98%;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-align: right;
        letter-spacing: 0.02em;
        /* color: white; */
        z-index: 1;
    }
    
    .service-num-3 {
        z-index: 1;
        position: relative;
        width: 14px;
        height: 22px;
        left: 280px;
        top: 50%;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        /* color: white; */
    }
    
    .service-tt-4 {
        position: relative;
        width: 100px;
        height: auto;
        left: 156px;
        /* top: 370%; */
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 35px;
        text-align: right;
        letter-spacing: 0.03em;
        /* color: white; */
        z-index: 1;
        top: -10px
    }
    
    .service-des-4 {
        position: absolute;
        width: 108px;
        height: 19px;
        left: -8px;
        top: 86%;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: right;
        letter-spacing: 0.02em;
        z-index: 1;
    }
    
    .service-num-4 {
        z-index: 1;
        position: relative;
        width: 14px;
        height: 22px;
        left: 280px;
        top: 50%;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        /* color: white; */
    }
    
    .news {
        position: relative;
        height: 100%;
    }
    
    @media only screen and (min-width: 601px) {
        .banner-p {
            position: absolute;
            width: 325px;
            height: 55px;
            left: 133px;
            top: 270px;
            font-family: 'Noto Sans JP';
            font-style: normal;
            font-weight: 350;
            font-size: 18px;
            line-height: 55px;
            /* identical to box height, or 306% */
            letter-spacing: 0.03em;
            color: #3DA3CA;
        }
        .common-title-finance-des {
            position: absolute;
            width: 283px;
            height: 121px;
            left: 149px;
            top: 580px;
            font-family: 'MADE Okine Sans PERSONAL USE';
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 58px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #3DA3CA;
        }
        .banner img {
            position: relative;
            left: 39%;
            width: 49%;
            top: 114px;
        }
        .common-title-finance {
            position: absolute;
            width: 215px;
            height: 70px;
            left: 183px;
            top: 314px;
            font-family: 'MADE Okine Sans PERSONAL USE';
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 70px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #3DA3CA;
        }
        .banner-hr {
            position: relative;
            width: 170px;
            height: 0px;
            left: 205px;
            top: 488px;
            border: 2px solid #3DA3CA;
        }
        .banner-hr-2 {
            top: 479px;
        }
        p.service-text01 {
            position: relative;
            width: 52%;
            text-align: center;
            font-family: 'YuGothic';
            font-weight: 500;
            font-size: 18px;
            line-height: 170%;
            color: #000000;
            margin-left: 24%;
            margin-top: 10px;
        }
        .service-img_mobile {
            display: none;
        }
        .service-info {
            max-width: 100%;
            float: left;
            padding: 0px 0px 90px 50px;
        }
        .w3-red {
            color: black !important;
            background-color: white!important
        }
        .tablink {
            color: white;
        }
        .career-wrap {
            display: flex;
        }
        .career-wrap {
            border-radius: 24px;
        }
        .son-1 {
            display: none
        }
    }
    
    .service-info-span {
        top: -2px;
        left: 2px;
        position: relative;
    }
    
    .banner-title {
        left: 5%;
        position: absolute;
        top: 2%;
        text-align: center;
    }
    /*====================================================================================
1. BEGIN HOME PAGE REPOSITORY 
====================================================================================*/
    
    @media only screen and (max-width: 600px) {
        .header-logo img {
            position: absolute;
            width: 72px;
            height: 72px;
            left: 5%;
            top: 15px;
            background: #FFFFFF;
        }
        .banner-title {
            left: 5%;
            position: absolute;
            top: 2%;
            text-align: center;
        }
        .banner-hr {
            position: relative;
            width: 20px;
            left: -84px;
            top: 123px;
            border: 1px solid #3DA3CA;
        }
        .banner-hr-2 {
            top: 114px;
        }
        .common-title-finance-des {
            position: relative;
            width: 420px;
            height: 0px;
            left: 45px;
            top: 90px;
            text-align: center;
            font-family: 'MADE Okine Sans PERSONAL USE';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 31px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #3DA3CA;
        }
        .banner-p {
            position: absolute;
            width: 420px;
            height: 55px;
            left: -10px;
            top: 265%;
            font-family: 'Noto Sans JP';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 55px;
            letter-spacing: 0.03em;
            color: #3DA3CA;
        }
        .common-title-finance {
            position: absolute;
            width: 215px;
            height: 70px;
            left: -45px;
            top: 96px;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 70px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #3DA3CA;
        }
        .banner img {
            position: relative;
            left: 23%;
            width: 60%;
            top: 75px;
            display: flex;
        }
        /* .common-title {
            font-size: 22px;
        } */
        .about-content {
            display: table;
        }
        .about-left,
        .about-right {
            width: 100%;
        }
        .about-left a {
            position: absolute;
            top: 88%;
            left: 25%;
        }
        .about-sub-tit {
            font-family: 'Noto Sans JP';
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 38px;
            letter-spacing: 0.03em;
            color: #171615;
        }
        .about-text01 {
            font-weight: 500;
            font-size: 16px;
            line-height: 170%;
        }
        .about-text03 {
            padding-top: 30px;
            text-align: center;
        }
        .about-text03 strong {
            display: block;
            font-weight: 700;
            font-size: 22px;
            line-height: 42px;
        }
        .service {
            padding: 0px 0px 100px 0px;
        }
        p.service-text01 {
            position: relative;
            text-align: center;
            font-family: 'YuGothic';
            font-weight: 500;
            font-size: 18px;
            line-height: 170%;
            color: #000000;
            margin-top: 10px;
        }
        .service-col_img {
            display: table-caption;
            height: 277px;
        }
        .service-img {
            display: none;
            /* height: 277px; */
        }
        .padding-lr-50 {
            padding: 0px 50px 0px 50px;
        }
        .service-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            height: 350px;
        }
        .service-img_mobile {
            height: 277px;
        }
        .service-menu-item hr {
            width: 85%;
            left: 35px;
            top: 22%;
        }
        .service-menu-item-info .item,
        .service-menu-item-tt {
            left: 35px;
        }
        .service-menu-item-tt-2 {
            left: 35px;
            top: 200px;
        }
        .service-menu-item-tt {
            top: 15%;
        }
        .service-menu-item-info .item {
            top: 56%;
            float: left;
            position: relative;
            left: -362px;
            display: flex;
            /* align-items: baseline; */
            /* justify-content: revert; */
            /* display: flex; */
            width: 50%;
            line-height: 82px;
            display: block;
        }
        .service-num-1 {
            left: -20%;
            top: 20%;
        }
        .service-tt-1 {
            width: max-content;
            left: 1%;
            font-size: 18px;
            /* top: -28%; */
        }
        .service-tt-2 {
            width: max-content;
            left: 50%;
            top: -94%;
            font-size: 18px;
        }
        .service-num-2 {
            left: 31%;
            top: -17%;
        }
        .service-tt-3 {
            /* width: max-content; */
            left: -48%;
            top: -10%;
            font-size: 18px;
        }
        .service-num-3 {
            left: -19%;
            top: 65%;
        }
        .service-tt-4 {
            top: -9px;
            left: 50px;
            font-size: 18px;
        }
        .service-num-4 {
            left: -19%;
            top: 65%;
        }
        .service-des-2,
        .service-des-3,
        .service-des-4 {
            display: none;
        }
        .tablink {
            color: white;
        }
        .service-des-1 {
            display: none;
        }
        .service-info {
            position: absolute;
            top: 90%;
            width: 100%;
        }
        .service-info-tit {
            padding: 0px 50px 0px 50px;
        }
        .service-info-subtit {
            width: 100%;
            font-weight: 400;
            font-size: 34px;
            letter-spacing: 0.03em;
            color: #000000;
            padding: 0px 50px 0px 50px
        }
        .career {
            top: 300px;
            position: relative;
        }
        .service-info p {
            padding: 20px 50px 0px 50px
        }
        .service-info .btn-wiewmore {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .news {
            position: relative;
            padding-top: 100%;
        }
        .news-content {
            display: table-row;
            padding: 30px 0px 50px 0px;
        }
        .news-content-item {
            max-width: 100%;
            padding: 20px 0px 10px 0px;
        }
        .hr-news {
            top: 580px;
            right: 10%;
        }
        .service-info-tit {
            font-size: 22px;
            text-align: center;
        }
        .news-wrap {
            height: 700px;
        }
        .news-wrap .news-view {
            position: absolute;
            width: 100%;
            left: -25%;
            top: 80%;
        }
        .career-tit {
            /* width: 100%; */
            width: 100%;
            /* display: flex; */
            position: relative;
            top: 222px;
        }
        .career-img {
            width: 100%;
            display: flex;
            position: relative;
            bottom: 355px;
        }
        .career-img img {
            min-width: 125%;
            max-width: 125%;
            display: flex;
            position: relative;
            left: -30px;
            top: 40px;
        }
        .blue-tt {
            font-family: 'MADE Okine Sans PERSONAL USE';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 72px;
            /* identical to box height, or 327% */
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #3DA3CA;
        }
        .black-tt {
            display: flex;
            font-family: 'Noto Sans JP';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 54px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #000000;
            width: 320px;
            left: -15%;
        }
        .viewmore-ca {
            position: relative;
            left: -36px;
            top: -45px;
        }
        .career-wrap {
            border-radius: 0px;
        }
        /* .career .career-wrap {
            display: inline-block;
        } */
        /* .son-2 {
            top: 32%;
            width: 119px;
            left: 32px;
            height: 3px;
            background-color: white;
        }
        .son-3 {
            top: 32%;
            width: 119px;
            left: 32px;
            height: 3px;
            background-color: white;
        }
        .son-4 {
            top: 32%;
            width: 119px;
            left: 32px;
            height: 3px;
            background-color: white;
        } */
        /* .career-img img{
            height: 80%;
        }

        .career-tit {
            position: absolute;
        } */
        /* .drawer-hamburger {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 322px;
        top: 12px;
        background: #3DA3CA;
        border-radius: 40px;
    } */
    }
    /*====================================================================================
1. END HOME PAGE REPOSITORY
====================================================================================15
*/
    
    .count {
        color: #3DA3CA !important;
    }