@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../fonts/NotoSansJP-Regular.eot') format('truetype');
}

@font-face {
    font-family: 'MADEOkineSansPERSONALUSE';
    src: url('../fonts/MADEOkineSansPERSONALUSE-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'YuGothic';
    src: url('../fonts/yugothib.ttf') format('truetype');
}

body {
    color: #000;
    font-size: 14px;
    font-family: 'NotoSansJP', sans-serif;
}

.wrapper {
    overflow: hidden;
}

a {
    color: #000;
    text-decoration: none;
    &:hover {
        opacity: 0.7;
    }
    &:focus {
        outline: none;
    }
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    &-nav {
        &-list {
            display: flex;
            justify-content: flex-end;
            li {
                font-size: 16px;
                font-family: 'MADEOkineSansPERSONALUSE', sans-serif;
                margin-left: 40px;
                a {
                    color: #3DA3CA;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .sm {
        display: block;
    }
    .container {
        max-width: 100%;
        width: 100%;
    }
    .header {
        display: flex;
        justify-content: space-between;
        background: #fff;
        position: relative;
        &-logo {
            padding: 10px;
            width: 100%;
            text-align: center;
            img {
                height: 100px;
                width: auto;
            }
        }
        &-nav {
            width: 100%;
            background: none;
            min-height: auto;
            position: absolute;
            left: 0;
            top: 0;
            .drawer-hamburger {
                text-align: center;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.7);
                width: 45px;
                height: 45px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 222;
                span {
                    display: inherit;
                    height: 2px;
                    // border-top: 3px solid #000000;
                    background: #fff;
                    margin: 6px 0;
                    transition: 0.4s;
                    width: 25px;
                    border-radius: 20px;
                }
                &.active {
                    span {
                        &:first-child {
                            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
                            transform: rotate(-45deg) translate(-6px, 6px);
                        }
                        &:last-child {
                            -webkit-transform: rotate(45deg) translate(-5px, -6px);
                            transform: rotate(45deg) translate(-5px, -6px);
                        }
                        &:nth-child(2n) {
                            opacity: 0;
                        }
                    }
                }
            }
            .sm-gnav {
                position: absolute;
                display: block;
                width: 100%;
                top: 0;
                left: -100%;
                z-index: 22;
                transition: left 0.4s;
                background: rgba(255, 255, 255, 0.9);
                &.is-open {
                    left: 0;
                }
            }
            &-list {
                flex-wrap: wrap;
                width: 100%;
                padding: 30px;
                padding-top: 70px;
                li {
                    width: 100%;
                    margin-bottom: 20px;
                    font-size: 16px;
                }
            }
        }
    }
}