.banner {
    background: url("../images/home/banner_bg.jpg") no-repeat;
    background-size: contain;
    text-align: center;
    img {
        display: inline-block;
        text-align: center;
    }
}

.about {
    background: #F9F9F9;
    &-wrap {
        padding: 100px;
    }
    &-content {
        display: flex;
        justify-content: space-between;
    }
    &-left {
        width: 45%;
    }
    &-sub-tit {
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0.03em;
        color: #171615;
        font-weight: bold;
    }
    &-text01 {
        font-family: 'YuGothic';
        font-size: 20px;
        line-height: 34px;
    }
    &-right {
        width: 45%;
    }
    &-text02 {
        font-size: 15px;
        line-height: 30px;
        color: #757575;
        font-family: 'YuGothic';
    }
    &-text03 {
        font-size: 13px;
        strong {
            font-size: 22px;
            font-weight: bold;
        }
    }
}

// .common-title {
//     position: relative;
//     left: 627px;
//     font-family: 'MADEOkineSansPERSONALUSE', sans-serif;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 46px;
//     line-height: 72px;
//     letter-spacing: 0.02em;
//     text-transform: uppercase;
//     color: #3DA3CA;
//     margin-top: 40px;
// }
.viewmore {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3DA3CA;
    font-weight: bold;
    .arrow {
        background: #3DA3CA;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 8px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            right: 50%;
            margin-right: -4px;
            top: 50%;
            margin-top: -8px;
        }
    }
}